   .admin-container {
            max-width: 600px;
            margin: 100px auto;
            background: #141414;
            padding: 30px;
            border-radius: 8px;
            border: 1px solid #333;
        }


        .admin-container p {
      margin-bottom: 20px; 
      color: #ccc;
        }

        .admin-form {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        .admin-form input {
            padding: 12px;
            background: #222;
            border: 1px solid #444;
            color: white;
            border-radius: 4px;
        }
        .btn-submit {
            background: #e50914;
            color: white;
            border: none;
            padding: 15px;
            font-weight: bold;
            cursor: pointer;
            border-radius: 4px;
            transition: 0.3s;
        }
        .btn-submit:hover { background: #b20710; }
        .back-link { color: #888; text-decoration: none; text-align: center; display: block; margin-top: 15px; }


        h1{
            color: #e50914;
             margin-bottom: 20px;
        }