/* Centrage total de la page */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh; /* Prend toute la hauteur de l'écran */
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center;     /* Centre verticalement */
    background-color: #000000;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

/* La boîte noire du formulaire */

h1 {
    color: rgb(225, 225, 225);
    margin-bottom: 28px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

/* Les cases de saisie */
input[type="text"], 
input[type="password"] {
    width: 100%;
    height: 50px;
    background: #333;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 0 20px;
    font-size: 16px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

/* Le bouton rouge */
button[type="submit"] {
    width: 100%;
    height: 50px;
    background-color: #ea0510;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 24px;
    transition: background 0.2s;
}

button[type="submit"]:hover {
    background-color: #f6121d;
}

/* Style des messages d'alerte */
.alert {
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    color: white;
}

/* Erreur en Orange Netflix */
.alert.error {
    background-color: #e87c03;
}

/* Succès en Vert */
.alert.success {
    background-color: #2ecc71;
}

.switch-text {
    margin-top: 30px;
    color: #ffffff;
    text-align: center;
    font-weight: bold   ;
}
.switch-text a {
    color: rgb(255, 0, 0);
    text-decoration: none;
    
}

.switch-text a:hover {
    text-decoration: underline;
}

/* --- Correction pour mobile --- */
/* Nettoyage total */


/* La boîte noire */
.admin-box {
    width: 90%;          /* 90% sur mobile */
    max-width: 450px;    /* Max 450px sur PC */
    padding: 40px;
    background-color: #0e0e0ea6;
    border-radius: 18px;
    box-sizing: border-box; /* IMPORTANT : empêche le padding de déborder */
    justify-content: center; /* Centre horizontalement */
    align-items: center;     /* Centre verticalement */
}
/* Les inputs doivent être fluides */

/*PARTIE MOBILE*/

@media (max-width: 768px) {
    .admin-box {
        width: 100%; /* Prend toute la largeur sur mobile */
        min-height: 100vh; /* Prend toute la hauteur de l'écran */
        margin-top: 20px; /* Supprime les marges inutiles */
        justify-content: center; /* Centre horizontalement */
        align-items: center;     /* Centre verticalement */
        background-color: #000000;
    }

}
/* --- CATALOGUE HORIZONTAL FORCE --- */
