<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/Movies.png') }}">
    <title>Admin - Ajouter un film</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
    <style>
     
    </style>
</head>
<body>
    <div class="admin-container">
        <h1 >Ajouter un nouveau film</h1>
        <p>Entrez le titre exact, FlixMovies s'occupe de trouver l'affiche !</p>
        
        <form class="admin-form" method="POST">
            <input type="text" name="titre" placeholder="Titre du film (ex: Avatar)" required>
            <input type="text" name="lien" placeholder="Lien de la vidéo (URL ou Embed)" required>
            <button type="submit" class="btn-submit">PUBLIER SUR LE SITE</button>
        </form>
        
        <a href="/" class="back-link">← Retour au catalogue</a>
    </div>
</body>
</html>