<!DOCTYPE html>
<html lang="fr">
<body style="background: #141414; color: white; font-family: sans-serif; padding: 20px;">
    <h1>Approuver le film</h1>
<form action="{{ url_for('admin_approuver_request', movie_id=movie_id) }}" method="POST">
    <label>Lien Embed (VF) :</label><br>
    
    <input type="text" name="lien_final" 
           value="vsembed.ru/embed/movie/{{ tmdb_id }}" 
           style="width: 100%; padding: 10px;" required>
           
    <button type="submit">Valider et Publier</button>
</form>
</body>
</html>