<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/Movies.png') }}">
    <title>Connexion - Movies For You</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <div class="admin-box">
        <h1>S'identifier</h1>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="flash-alert">
                {{ message }}
              </div>
            {% endfor %} {% endif %}
        {% endwith %}

        <form method="POST">
            <input type="text" name="username" placeholder="Identifiant" required>
            <input type="password" name="password" placeholder="Mot de passe" required>
            <button type="submit">SE CONNECTER</button>
        </form>

        <p class="switch-text">Pas de compte ? <a href="/register">S'inscrire</a></p>
    </div> {% if success %}
    <div id="overlay" class="success-overlay">
        <div class="overlay-card">
            <div class="overlay-icon">
                <span>✔</span>
            </div>
            <h2 class="overlay-title">Connexion réussie !</h2>
            <p class="overlay-text">Redirection vers votre catalogue...</p>
        </div>
    </div>
    <script>
        setTimeout(function() {
            window.location.href = "{{ url_for('index') }}";
        }, 2000);
    </script>
    {% endif %}
</body>
</html>